<ol class="breadcrumb">
  <li><a href="/erp/home">组织机构</a></li>
  <li class="active">编辑</li>
</ol>
<article class="page-header">
  <h3>编辑<small><p>修改您创建的组织机构信息。</p></small></h3>
</article>
<%= form_for @organization , :url=> {:controller =>'orgs', :action => 'update'} , :html=>{:class=>"form-horizontal"} do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right" >
      <button type="submit" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="保存"><i class="glyphicon glyphicon-floppy-open"></i>保存</button>
    </div>
    <div class="panel-title">信息修改</div>
  </div>
  <div class="row panel-body" style="padding:60px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-10">
          <div class="form-group">
            <label class="col-sm-4 col-md-4 control-label">名称</label>
            <div class="col-sm-2 col-md-5 ">
              <%= f.text_field :name, :name=>"erp_org[name]", :placeholder=>"请输入组织机构名称" ,:class=>"form-control" ,:autofocus => true %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 ">
          <div class="form-group">
            <label class="col-md-4 control-label">标识码</label>
            <div class="col-md-5">
              <input id="type_form" type="text" class="form-control" placeholder="请输入标识码" name="erp_org[ii][root]" value='<%=@organization.ii.root%>'>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="form-group">
            <label class="col-md-4 control-label">简要介绍</label>
            <div class="col-md-5 ">
              <%= f.text_area :desc, :name=>'erp_org[desc]', :placeholder=>'请输入20字符以内',:class=>"form-control",:rows =>6 %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
  <% end %>
    <form action="/erp/orgs/<%=@organization.id%>" method="post" style="display:inline">
      <input name="_method" type="hidden" value="delete">
      <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>" />
      <button type="submit" class="btn btn-default btn-sm" data-toggle="tooltip" title="删除"><i class="glyphicon glyphicon-remove"></i>删除</button>
    </form>
  </div>
</div>
