<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">产品目录</div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 pull-left">
          <a href="/erp/orgs/<%=@organization.id%>/menus/new" type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-plus"></i>新建</a>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="查找...">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text_left"><b>#</b></div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text_left"><b>类别</b></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text_left"><b>标识码</b></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text_left"><b>说明</b></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text_left"><b>更新时间</b></div>
        <div style="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-align:center"></div>
      </div>
    </li>
    <%- @menus.each_with_index do |menu,i|
      if menu = menu.classification %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text_left"><%=i%></div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text_left"><%=menu.title %></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text_left"><%=menu.code.code %></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text_left"><%=menu.text %></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text_left"><%=menu.updated_at.strftime("%Y-%2m-%2d %H:%M:%S") %></div>
        <div style="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-align:center">
          <span class="pull-right">
            <a type='button' class='btn btn-default btn-xs' href="/erp/orgs/<%=@organization.id%>/menus/<%=menu.id%>/edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a type='button' class='btn btn-default btn-xs' href="/erp/orgs/<%=@organization.id%>/menus/<%=menu.id%>">
              <i class="glyphicon glyphicon-info-sign"></i>
            </a>
            <%- unless menu.component.present?||menu.subject.present? %>
            <form action="/erp/orgs/<%=@organization.id%>/menus/<%=menu.id%>" method="post" style="display:inline">
              <input name="_method" type="hidden" value="delete">
              <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>" />
              <button type="submit" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
            </form>
            <% end -%>
            <%- if menu.component.present? %>
            <button class="erp_sub_menu_key btn btn-default btn-xs" id="erp_menu_<%=i%>">
              <span class="badge">子目录：<%=menu.component.size%></span>
            </button>
            <% elsif menu.subject.present? %>
            <a type='button' class='btn btn-default btn-xs' href='/erp/orgs/<%=@organization.id%>/menus/<%=menu.id%>/products'>
              <span class='badge'>产品：<%=menu.subject.size%></span>
            </a>
            <% else %>
            <a type='button' class='btn btn-default btn-xs' href='/erp/orgs/<%=@organization.id%>/menus/<%=menu.id%>/products/new'>添加产品</a>
            <% end -%>
            <a type='button' class='btn btn-default btn-xs' href="/erp/orgs/<%=@organization.id%>/menus/new?pre_menu_id=<%=menu.id%>">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
          </span>
        </div>
      </div>
    </li>
    <%=raw render_menu(@organization,menu.component,[i]) %>
    <% end; end -%>
  </ul>
  <div class="panel-footer">
    <p>...</p>
  </div>
</div>
<script type="text/javascript">
  $(".erp_sub_menu_key").on('click',function(){
    var trs = $("."+this.id);
    console.log(trs);
    trs.each(function(){
      $(this).toggleClass("hidden");
    });
  })
</script>