<%= form_for @product , :url=> {:controller =>'products', :action => @product.new_record? ? 'create' : 'update', :menu_id => @menu ? @menu.id : nil} , :html=>{:class=>"form-horizontal"} do |f| %>
<input name="erp_product[ii][root]" value="<%=@organization.ii.root%>" hidden>
<input name="erp_product[ii][extension]" value="<%=@product.ii.extension%>" hidden>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="pull-right" >
      <button type="submit" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="保存"><i class="glyphicon glyphicon-floppy-open"></i>保存</button>
    </div>
    <div class="panel-title"><h5>产品信息：<small>请输入相关信息以便新建您自己的产品。</small></h5></div>
  </div>
  <div class="row panel-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-10">
          <div class="form-group">
            <label class="col-md-4 col-sm-4 control-label">型号</label>
            <div class="col-md-5 col-sm-5">
              <input id="type_form" type="text" class="form-control" placeholder="请输入产品型号" name="erp_product[code][code]" value="<%=@product.ii.extension%>" autofocus>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <div class="form-group">
            <label class="col-sm-4 col-md-4 control-label">名称</label>
            <div class="col-sm-5 col-md-5 ">
              <input id="type_form" type="text" class="form-control" placeholder="产品名称" name="erp_product[name]" value="<%=@product.name%>">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <div class="form-group">
            <label class="col-sm-4 col-md-4 control-label">库存量</label>
            <div class="col-sm-5 col-md-5 ">
              <input id="type_form" type="text" class="form-control" placeholder="产品库存量" name="erp_product[quantity][value]" value="<%=@product.quantity.try(:value)%>">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <div class="form-group">
            <label class="col-sm-4 col-md-4 control-label">单位</label>
            <div class="col-sm-5 col-md-5 ">
              <input id="type_form" type="text" class="form-control" placeholder="产品单位" name="erp_product[quantity][unit]" value="<%=@product.quantity.try(:unit)%>">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <div class="form-group">
            <label class="col-md-4 col-sm-4 control-label">简要介绍</label>
            <div class="col-md-5 col-sm-5">
              <%= f.text_area :desc, :name=>'erp_product[desc]', :placeholder=>'请输入20字符以内',:class=>"form-control",:rows =>6, :autofocus => true %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer"><p><a href="/erp/orgs/<%=@organization.id%>/<%=@menu ? "menus/#{@menu.id}/" : nil%>products" type='button' class="btn btn-default btn-sm"><i class="glyphicon glyphicon-arrow-left"></i>返回</a></p></div>
</div>
<% end %>
<script type="text/javascript">
  $('input[name="erp_product[code][code]"]').change(function() {
    var str = $(this).val();
    console.log(str);
    $('input[name="erp_product[ii][extension]"]').val(str);
  })
</script>