<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">用户列表</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="5%" style="text-align:left">#</th>
        <th width="20%" style="text-align:left">Email</th>
        <th width="20%" style="text-align:left">认证时间</th>
        <th width="20%" style="text-align:left">锁定时间</th>
        <th width="25%" style="text-align:left">上次登录</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @users.each_with_index do |user,i| %>
      <tr>
        <td class="text_left"><%=i %></td>
        <td class="text_left"><%=user.email %></td>
        <td class="text_left"><%=user.confirmed_at ? user.confirmed_at.strftime("%Y-%2m-%2d %H:%M:%S") : '未认证' %></td>
        <td class="text_left"><%=user.locked_at ? user.locked_at.strftime("%Y-%2m-%2d %H:%M:%S") : '已激活' %></td>
        <td class="text_left"><%=user.last_sign_in_at.strftime("%Y-%2m-%2d %H:%M:%S") %></td>
        <td style="text-align:center">
          <span class="pull-right">
            <a href="/users/<%=user.id%>/edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a href="/users/<%=user.id%>">
              <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
          </span>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
  <div class="panel-footer">
    <p>...</p>
  </div>
</div>
