<!DOCTYPE html>
<html>
<head>
  <title>ERP系统</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_tag 'select2' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap.min' %>
  <%= stylesheet_link_tag 'bootstrap/bootstrap-theme.min' %>
  <%= javascript_tag 'bootstrap/bootstrap.min' %>
</head>
<body>

<%= yield %>

</body>
</html>
